<!DOCTYPE html>
<html lang="en">
<head>
<title>Internships</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
  <link type="text/css" rel="stylesheet" href="assets/css/style.css"  media="screen"/>
</head>
<body>

<div class="signedstatus"><span>NotYetSignedIn</span></div>
<% include partials/header.ejs %>


<% include partials/user-navigation.ejs %>

<section>
  <% include partials/site-navigation.ejs %>

<article>
    <h1>This is the website for Summer Internships</h1>
    <h2>This website will also host learning content in the future</h2>
</article>
</section>
<% include partials/footer.ejs %>
</body>
</html>
