<!DOCTYPE html>
<html lang="en">
<head>
<title>Internships</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
  <link type="text/css" rel="stylesheet" href="/assets/css/style.css"  media="screen"/>
</head>
<body>

<div class="signedstatus"><span>NotYetSignedIn</span></div>
<% include partials/header.ejs %>

<% include partials/user-navigation.ejs %>

<section>
  <% include partials/site-navigation.ejs %>

<article>
      <h1>This is whom you are contacting</h1>
      <h2>Narendra Kumar Vankayala</h2>
      <h3>704-968-3865</h3>
      <h4>email : nvankay1@uncc.edu</h4>
</article>
</section>
<% include partials/footer.ejs %>
</body>
</html>
