<!DOCTYPE html>
<html lang="en">
<head>
<title>Internships</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
  <link type="text/css" rel="stylesheet" href="assets/css/style.css"  media="screen"/>
</head>
<body>

<div class="signedstatus"><span>NotYetSignedIn</span></div>
<% include partials/header.ejs %>

<% include partials/user-navigation.ejs %>

<section>
  <% include partials/site-navigation.ejs %>

<article>
  <img src="/assets/images/facebook.jpg" alt="facebook" style="width:500px;height:200px;">
    <h2>You are giving feedback to this item </h2>
    <form action=#>
          <b>Rating:</b>
          <select name="Rate">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>
          <input type="submit" value="Confirm Rating">
        </form><br><br><br><br><br>
        <form action=#><input type="submit" value="I made it &#9989;"/></form>
</article>
</section>
<% include partials/footer.ejs %>
</body>
</html>
