<!DOCTYPE html>
<html lang="en">
<head>
<title>Internships</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
  <link type="text/css" rel="stylesheet" href="assets/css/style.css"  media="screen"/>
</head>
<body>

<% include partials/header.ejs %>
<% include partials/user-navigation.ejs %>

<section>
  <% include partials/site-navigation.ejs %>
<article>

    <h2>Login with hardcoded credentials for now </h2>
    <h2>emaiAddress : admin1@gmail.com and password : admin1</h2>
    <form action="/login" method="post">
      <label>Email Address</label>
      <input type="text" name="emailAddress" value="">
      <label>Password</label>
      <input type="text" name="password" value="">

      <button type="submit" class="button">Submit</button>
    </form>

</article>
</section>
<% include partials/footer.ejs %>
</body>
</html>
