<!DOCTYPE html>
<html lang="en">
<head>
<title>Internships</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">



      <link type="text/css" rel="stylesheet" href="/assets/css/style.css"  media="screen"/>
      <link type="text/css" rel="stylesheet" href="/assets/css/font-awesome-4.7.0/css/font-awesome.min.css">
</head>
<body>

  <% include partials/header.ejs %>
  <% include partials/user-navigation.ejs %>
<section>

<% include partials/site-navigation.ejs %>
  <article>
        <h2>My jobs </h2>

        <table>
          <thead>
            <tr>
              <th>Company</th>
              <th>Category</th>
              <th>My rating</th>
              <th>Applied Status</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <%
						for(var j=0; j< userProfile.userItems.length; j++){ %>
    		<tr>
      			<td><%= userProfile.userItems[j].itemName %></td>
      			<td><%= userProfile.userItems[j].categoryName %></td>
						<td><%= userProfile.userItems[j].rating %></td>
						<% if(userProfile.userItems[j].madeIt == 0) { %>
						<td>False</td>
						<% } else { %>
							<td>True</td>
						<% } %>
      			<td>

      				<form method="get">
								<input hidden name="itemCode" value="<%= userProfile.userItems[j].itemCode %>">
								<button class="button" type="submit" formaction="/myitems/feedback">Update</button>
								<button class="button" type="submit" formaction="/myitems/delete">Delete</button>
							</form>
      			</td>
    		</tr>
				<%	}
			 		%>
          </tbody>
        </table>

         </article>
         <h2>Click <a href="#">here</a> to share the job</h2>
</section>



<% include partials/footer.ejs %>

</body>
</html>
