* {
    box-sizing: border-box;
  }

  body {
    font-family: Arial, Helvetica, sans-serif;
    overflow-y: auto;
  }
  section {
      overflow-y: auto;
      overflow-x: hidden;
      height: 100%;
  }
  
  /* Style the header */
  header {
    background-color: rgb(167, 47, 10);
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
  }
  .nav-bar{
    background-color: #666;
    padding: 20px;
    text-align: center;
    font-size: 25px;
    color: white;

  }
  .signedstatus{
      float: right;
  }
  /* Create two columns/boxes that floats next to each other */
  nav {
    float: left;
    width: 25%;
    /* height: auto; only for demonstration, should be removed */
    background: rgb(73, 190, 79);
    padding: 20px;
    /* min-height: 0%; */
    /* height: inherit; */
    overflow-y: auto;
    display: inline-block;
    height: 100%;
    overflow: auto;
    /* position: absolute; */
    /* position: relative; */
    /* position: fixed */
  }

  /* Style the list inside the menu */
  nav ul {
    list-style-type: none;
    padding: 0;
    height: 500px;

  }

  article {
    float: left;
    padding: 20px;
    width: 75%;
    /* background-color: #f1f1f1; */
    /* height: auto;  */
  }
  #itemimage{
    width:200px;
    height:100px;
    float: left;
    padding: 5px

  }
  button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

  }
  .button{
      float: left;
      margin: 2px;
      margin-top: 15px;
  }
  /* #itemtext{
      float: right;
  } */
  .checked {
    color: orange;
  }

  /* Clear floats after the columns */
  section:after {
    content: "";
    display: table;
    clear: both;

  }
  .image-txt-container {
    display:flex;
    align-items:center;
    flex-direction: row;

  }

  /* Style the footer */
  footer {
    background-color: #777;
    padding: 10px;
    text-align: center;
    color: white;
    position: relative;
    bottom: 0;

  }

  /* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
  @media (max-width: 600px) {
    nav, article {
      width: 100%;
      height: auto;
    }
  }
  .imglogo{
    width :60px;
    height : 40px;
  }
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  tr:nth-child(even) {
    background-color: #dddddd;
  }
  /* .itembuttons{
      float: left;
      padding: 2px
  } */
